In [20]:
# EDA on the CAD-combined.csv file.  Portland PD Dispatch data from 2012 to September 2019.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

plt.style.use('ggplot')
font = {'weight': 'bold',
        'size':   16}
plt.rc('font', **font)

In [21]:
filepath = '/Users/will/Desktop/Portland/calls_for_service/CAD-combined.csv'
df = pd.read_csv(filepath)

In [22]:
df.head()

,Unnamed: 0,Address,CallNumber,FinalCallCategory,FinalCallGroup,Neighborhood,OpenDataLat,OpenDataLon,OpenDataX,OpenDataY,Priority,ReportMonthYear,ResponseTime_sec,TimeInQueue_sec,TravelTime_sec
0,0,NaN,100895132,NaN,NaN,Cathedral Park,NaN,NaN,NaN,NaN,High,February 2012,267,51,216
1,1,NaN,105350927,NaN,NaN,Powellhurst-Gilbert,NaN,NaN,NaN,NaN,Low,March 2012,"5,960","5,446",514
2,2,NaN,105707241,NaN,NaN,Roseway,NaN,NaN,NaN,NaN,High,March 2012,452,26,426
3,3,NaN,108493427,NaN,NaN,Lloyd,NaN,NaN,NaN,NaN,Low,March 2012,"2,400",209,"2,191"
4,4,NaN,125521122,NaN,NaN,Lloyd,NaN,NaN,NaN,NaN,High,June 2012,388,203,185